/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.heading-font {
  font-family: "Outfit", sans-serif;
}
.body-font {
  font-family: "Source Sans 3", sans-serif;
}
.active {
  @apply bg-primary text-white;
}

:root {
  /* Brand Colors */
  --color-primary: #005bff;       /* Deep navy */
  --color-secondary: #fcd44f;     /* Vibrant golden yellow */
  --color-accent: #535353;        /* Dark gray */

  /* Base Colors (Light Mode) */
  --color-base-100: #f5f5f5;      /* Main background */
  --color-base-200: #e8f2fc;      /* Light gray sections */
  --color-base-300: #e0e0e0;      /* Borders / dividers */
  --color-text: #2e2e2e;          /* Main text */
}

[data-theme="dark"] {
  /* Brand Colors */
  --color-primary: #0043be;       /* Brighter royal/navy blue */
  --color-secondary: #ad7930;     /* Rich bronze-gold */
  --color-accent: #bbbbbb;        /* Light gray for highlights */

  /* Base Colors (Dark Mode) */
  --color-base-100: #222222;      /* Main background */
  --color-base-200: #252525;      /* Cards/sections */
  --color-base-300: #2a2a2a;      /* Borders / dividers */
  --color-text: #f5f5f5;          /* Light text */
}

